<html>
  <head>
    <title>Welcome to the Globomantics Taco Wagon</title>
  </head>
  <meta charset="UTF-8">
  <body>
  <h1>Globomantics Taco Wagon 🚙</h1>
  <p>Taco about a great meal! 🌮</p>

  <p>Running on {{ inventory_hostname }}</p>
  </body>
</html>