<html>
  <head>
    <title>Welcome to the Globomantics Taco Truck</title>
  </head>
  <body>
  <h1>Globomantics Taco Truck</h1>
  <p>Taco about a great meal! 🌮</p>

  <p>Running on {{ inventory_hostname }}</p>
  </body>
</html>